@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth !important;
    border-color: #eaecf0;
  }
  
  /* Scrollbar start */
  
  .hide-sidebar::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: var(--primary-200);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-300);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-400);
  }
  /* Scrollbar End */
  
  .spinner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3.8px solid;
    border-color: #dbdcef;
    border-right-color: #5d659e;
    animation: spinner-d3wgkg 0.6s infinite linear;
  }
  .customInputCSS {
    border-radius: 8px;
    border: 1px solid var(--primary-300, #ccd5df);
    border: 1px solid var(--primary-300, color(display-p3 0.8144 0.8349 0.8656));
    background: var(--White, #fff);
    background: var(--White, color(display-p3 1 1 1));
  
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    box-shadow: 0px 1px 2px 0px color(display-p3 0.0627 0.0941 0.1569 / 0.05);
  }
  @keyframes spinner-d3wgkg {
    to {
      transform: rotate(1turn);
    }
  }
  
  .popupmodalblur {
    background: rgba(18, 18, 18, 0.3);
    background: color(display-p3 0.0706 0.0706 0.0706 / 0.3);
    backdrop-filter: blur(2.5px);
  }
  