@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
  border-color: #eaecf0;
}

body {
  @apply bg-slate-950;
}

/* Scrollbar start */

.hide-sidebar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Scrollbar End */

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3.8px solid;
  border-color: #dbdcef;
  border-right-color: #5d659e;
  animation: spinner-d3wgkg 0.6s infinite linear;
}
@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

.popupmodalblur {
  background: rgba(18, 18, 18, 0.3);
  backdrop-filter: blur(2.5px);
}
